//Variables y estilos generales
@use "variables" as *;
@use "sass:color";

//Reset
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

//Estilos tipografía
h1, h2, h3, h4, h5, h6 {
  font-family: $tipografia-titulos;
}

h1 { font-size: 4rem; }
h2 { font-size: 3rem; }
h3 { font-size: 2.5rem; }
h4 { font-size: 2rem; }
h5 { font-size: 1.5rem; }
h6 { font-size: 1.2rem; }

p {
  font-size: 1.2rem;
}

//Componentes
input {
  font-size: 1rem;
}

button {
  background-color: $color-secundario;
  font-weight: bold;
  color: $color-negro;
  border: none;
  border-radius: 8px;
  padding: 12px 24px;
  font-size: 1rem;
  cursor: pointer;
  transition: box-shadow 0.3s ease;

  &:hover {
    box-shadow: 0 0 15px $color-secundario, 0 0 30px color.adjust($color-secundario, $lightness: 20%);
  }
}

//Body y secciones
body {
  font-family: $tipografia-principal;
  color: $color-negro;
  background-color: $color-fondo;
  text-align: start;
}

section {
  text-align: start;
  margin: 4rem 10rem;
}

.fondo-contenedor {
  background-color: $color-fondo-violeta;
  width: 100%;
  box-sizing: border-box;
  padding: 1.5rem 0;
}

// Mixins
@mixin cards ( $background-color: $color-tarjetas, $padding: 1.5rem, $radio: 10px, $sombra: $sombra-baja ) {
  background-color: $background-color;
  padding: $padding;
  border-radius: $radio;
  box-shadow: $sombra
}

@mixin flex-container( $direction: row, $justify: flex-start, $align: stretch ) {
  display: flex;
  flex-direction: $direction;
  justify-content: $justify;
  align-items: $align;
}

