//Variables y estilos generales
@use "variables" as *;
@use "base" as *;

//ENTRADAS
.entradas {
    .entradas-container {
        @include flex-container(row, space-between, stretch);
        gap: 2rem;
        
        .entrada {
            @include cards($color-tarjetas, 2rem);
            @include flex-container(column, space-between, none);
            flex: 1;
            color: $color-blanco;
            text-align: center;

            h2 {
                margin-bottom: 0;
                font-weight: normal;
            }
        
            h3 {
                font-size: 7rem;
                margin-bottom: 1rem;
                font-weight: bold;
            }
        
            .entrada-datos{
                background-color: $color-fondo;
                color: $color-negro;
                padding: 1rem;
                border-radius: 8px;
                margin-bottom: 1.5rem;

                h4 {
                    text-align: left;
                    margin-bottom: 0.2rem;
                    font-size: 1.8rem;
                }
            
                ul {
                    li {
                        text-align: left;
                        margin: 0.5rem 0;
                        font-size: 1rem;
                    }
                }
            }

            button {
                margin-top: auto;
                width: 100%;
            }
        }
    }

    #carrusel-entradas {
        display: none;
    }
    
    .preguntas-frecuentes {
        margin-top: 3rem;
      
        h2 {
            font-family: $tipografia-titulos;
            margin-bottom: 1rem;
        }

        .accordion {
            border-radius: 10px;
            overflow: hidden;

            .accordion-item {
                margin-bottom: 0 !important;
            
                .accordion-header {
                    button {
                        padding: 1.5rem 2.5rem ;
                        font-weight: normal;
                        font-size: 2rem;
                    }
                }
            
                .accordion-body {
                    font-size: 1.2rem;
                    padding: 1.5rem 2.5rem ;
                }
            }
        }
    }
}