//Variables y estilos generales
@use "variables" as *;
@use "base" as *;

// BREAKPOINTS MQ
$bp-mobile: 767px ;
$bp-tablet: 1024px ;
$bp-mobile-end: $bp-mobile + 1px ;
$bp-tablet-end: $bp-tablet + 1px ;

//TÍTULOS Y PÁRRAFOS
@media (max-width: $bp-mobile) {
    h1 { font-size: 3rem; }
    h2 { font-size: 2.2rem; }
    h3 { font-size: 2rem; }
    h4 { font-size: 1.5rem; }
    h5 { font-size: 1.2rem; }
    h6 { font-size: 1.1rem; }

    p  { font-size: 1rem; }
}

// HEADER
//Móvil
@media (max-width: $bp-mobile) {
    header {
        .navbar {
            .header-container {
                padding-left: 1.5rem;
                padding-right: 1.5rem;
            }
        }
    }
}

//Tablet
@media (min-width: $bp-mobile-end) and (max-width: $bp-tablet) {
    header {
        .navbar {
            .header-container {
                flex-direction: row;
                padding-left: 4rem;
                padding-right: 4rem;
    
                .navbar-brand {
                    font-size: 2rem;
                }
            
                .navbar-toggler {
                    font-size: 1.8rem;
                }
    
                .navbar-collapse {
                    .navbar-nav {
                        .nav-link {
                            font-size: 1.3rem;
                        }
                    }
                }
            }
        }

    }
}

// SECCIONES
// Móvil
@media (max-width: $bp-mobile) {
    section {
        margin: 2.5rem 1.5rem;
    }
}

// Tablet
@media (min-width: $bp-mobile-end) and (max-width: $bp-tablet) {
    section {
        margin: 4rem 4rem;
    }
}

// INDEX
//Móvil
@media (max-width: $bp-mobile) {
    .index {
        .destacado {
            height: 70vh;
            padding: 2rem;
    
            h1 { 
                font-size: 4rem; 
            }
    
            button {
                font-size: 1rem;
                width: 80%;
                max-width: 300px;
                margin-top: 1rem;
            }
        }
            
        .fechas {
            .fechas-container {
                flex-direction: column;
                gap: 2rem;
                margin: 0;
    
                .fecha {
                    width: 100%;
                    padding: 1.5rem;
                        
                    h3 { 
                        font-size: 2rem; 
                    }
        
                    h4 { 
                        font-size: 4rem; 
                    }
        
                    button { 
                        width: 100%; font-size: 1rem; 
                    }
                }
            }
        }
    
        .galeria {
            .galeria-grid {
                grid-template-columns: repeat(2,1fr);
                grid-template-rows: repeat(4,200px);
                gap: 0.8rem;
    
                .foto1 { 
                    grid-column: 1/3; 
                    grid-row: 1; 
                }
    
                .foto2 { 
                    grid-column: 1;
                    grid-row: 2;
                }
    
                .foto3 { 
                    grid-column: 2;
                    grid-row: 2;
                }
    
                .foto4 { 
                    grid-column: 1;
                    grid-row: 3;
                }
    
                .foto6 { 
                    grid-column: 2;
                    grid-row: 3;
                }
    
                .foto5 { 
                    grid-column: 1/3;
                    grid-row: 4;
                }
            }
    
            .ver-mas {
                display: block;
                font-size: 1rem;
            }
        }

    }
}

@media (min-width: $bp-mobile-end) and (max-width: $bp-tablet) {
    .index {
        .fechas {
            .fechas-container { 
                gap: 1rem; 
                margin: 0; 
            }
    
            button { 
                width: 100%; 
            }
        }
    }
}


// PROGRAMACIÓN
//Móvil
@media (max-width: $bp-mobile) {
    .programacion {
        .programacion-dia-container {
            padding: 2.5rem 1.5rem;
            #carrusel-sabado, #carrusel-domingo { 
                display: block;
                .carousel-inner {
                    .carousel-item {
                        .escenario {
                            background-color: $color-tarjetas;
                            color: $color-blanco;
                            padding: 1.2rem;
                            border-radius: 16px;
                            padding-bottom: 0.1rem;
                    
                            h4 {
                                margin-bottom: 8px;
                            }
                    
                            ul {
                                list-style: none;
                                padding: 0;
                    
                                li {
                                    margin:0 ;
                                    font-weight: bold;
                                    padding: 0.4rem 0.5rem;
                                    display: flex;
                                    flex-direction: column;
                                    background-color: rgb(202, 219, 252);
                                    color: $color-negro;
                                    border-radius: 10px;
                                    margin-bottom: 8px;
                        
                                    &:nth-child(odd) {
                                        background-color:rgb(249, 240, 255) ;
                                        border-radius: 8px;
                                        color: $color-negro;
                                        padding: 0.4rem 0.5rem;
                                    }
    
                                    p {
                                        font-size: 1.1rem;
                                        margin: 0 ;
                                    }
    
                                    .hora {
                                        font-size: 0.8rem;
                                        margin-bottom: 0.2rem;
                                    }
                                }
                            }
                        }
                    }
                }
            }
            
            .escenario-container {
                display: none ;
            }
        }
    }
}

// Tablet
@media (min-width: $bp-mobile-end) and (max-width: $bp-tablet) {
    .programacion {
        #carrusel-sabado, #carrusel-domingo { 
            display: none; 
        }

        .programacion-dia-container {
            padding: 4rem 4rem ;

            .escenario-container {
                display: grid;
                grid-template-columns: 1fr 1fr;
                grid-template-rows: auto auto;
                gap: 1rem;

                .principal { 
                    grid-column: 1 / 3; 
                    li {
                        display: flex;
                        flex-direction: row;
                        gap: 0.1rem;
                        align-items: baseline;
        
                        .hora {
                            font-size: 1.1rem;
                            margin-bottom: 0.2rem;
                        }
                    }
                }

                .secundario {
                    ul {
                        list-style: none;
                        padding: 0;
                
                        li {
                            p {
                                font-size: 1.1rem;
                            }
                        }
                    }
                }
            }
        }
    }
}

// ARTISTAS
// Móvil
@media (max-width: $bp-mobile) {
    .artistas {
        .artistas-dia-container {
            padding: 2.5rem 1.5rem;
            .artistas-destacados{
                display: flex;
                flex-direction: column;
                gap: 1rem;
                .artista {
                    flex: 1 1 100% !important;
                    p {
                        font-size: 0.9rem;
                    }

                    .redes-iconos {
                        img { 
                            width:32px; 
                            height:32px; 
                        }
                    }
                }
            }
    
            .artistas-grid {
                display: none;
            }
    
            #carousel-artistas-sabado, #carousel-artistas-domingo {
                display: block !important;

                .carousel-inner {
                    .carousel-item {
                        .artista-mini {
                            display: flex ;
                            flex-direction: row ;
                            align-items: center ;
                            gap: 1rem ;
                            margin-bottom: 0.5rem ;
        
                                img {
                                    width: 100%;
                                    max-width: 65px ;
                                    max-height: 65px ;
                                    object-fit: cover ;
                                    aspect-ratio: 1 / 1;
                                    border-radius: 6px ;
                                    margin-bottom: 0 ;
                                }
                                .artista-mini-datos {
                                    display: flex ;
                                    flex-direction: column ;
                                    justify-content: center ;
                                    .redes {
                                        display: flex;
                                        gap: 0.4rem;
                                        img {
                                            width: 24px;
                                            height: 24px;
                                        }
                                    }
                                }
                        }
                    }
                }    
            }
        }
    }
}

//Tablet
@media (min-width: $bp-mobile-end) and (max-width: $bp-tablet) {
    .artistas {
        .artistas-dia-container {
            padding: 4rem 4rem ;
            .artistas-destacados {
                display: grid;
                grid-template-columns: repeat(2, 1fr);
                gap: 1rem;
                
                .artista:nth-child(1) {
                  grid-column: 1 / -1;
                }
            }
    
            .artistas-grid{
                display: grid;
                grid-template-columns: repeat(2, 1fr);
                gap: 1.5rem;

                .artista-mini {
                    .artista-mini-datos {
                        h4 { 
                            font-size: 1.8rem;
                        }
                    }

                    img {
                        max-width: 70px ;
                        max-height: 70px ;
                    }
                }
            }
    
            #carousel-artistas-sabado, #carousel-artistas-domingo {
                display: none !important;
            }
        }
    }
}

// ENTRADAS
//Móvil
@media (max-width: $bp-mobile) {
    .entradas {
        .entradas-container {
            display: none;
        }

        #carrusel-entradas {
            display: block;
            margin-bottom: 3rem;
            padding: 0 1.5rem;
            .carousel-inner {
                .carousel-item {
                    .entrada {
                        flex: 1;
                        background-color: $color-tarjetas;
                        border-radius: 16px;
                        color: $color-blanco;
                        box-shadow: $sombra-baja;
                        padding: 1.2rem;
                        display: flex;
                        flex-direction: column;
                        justify-content: space-between;
                        text-align: center;
            
                        h2 {
                            margin-bottom: 0;
                            font-weight: normal;
                        }
                    
                        h3 {
                            font-size: 5rem;
                            margin-bottom: 1rem;
                            font-weight: bold;
                        }
                    
                        .entrada-datos{
                            background-color: $color-fondo;
                            color: $color-negro;
                            padding: 1rem;
                            border-radius: 8px;
                            margin-bottom: 1.5rem;
            
                            h4 {
                                text-align: left;
                                margin-bottom: 0.2rem;
                                font-size: 1.6rem;
                            }
                        
                            ul {
                                li {
                                    text-align: left;
                                    margin: 0.5rem 0;
                                    font-size: 0.9rem;
                                    list-style: none;
                                }
                            }
                        }
            
                        button {
                            margin-top: auto;
                            width: 100%;
                        }
                    }

                }
            }
            
        }
    
        .preguntas-frecuentes {
            .accordion-header{
                button {
                    font-size: 1.3rem !important; 
                    padding: 1.2rem 1.5rem !important;
                }
            }

            .accordion-body {
                font-size: 1rem !important;
                padding: 1.2rem 1.5rem !important;
            }
        }
    }
}

// Tablet
@media (min-width: $bp-mobile-end) and (max-width: $bp-tablet) {
    .entradas {
        #carrusel-entradas { 
            display: none !important; 
        }
        
        .entradas-container {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            gap: 1.2rem;
      
            .entrada:nth-child(3) {
                grid-column: 1 / span 2;
            }
        }

        .preguntas-frecuentes {
            .accordion-header{
                button {
                    font-size: 1.5rem !important; 
                    padding: 1.2rem 1.8rem !important;
                }
            }

            .accordion-body {
                font-size: 1rem !important;
                padding: 1.2rem 1.8rem !important;
            }
        }
    }
}


// CONTACTO
// Móvil
@media (max-width: $bp-mobile) {
    .contacto {
        margin-bottom: 3rem;

        .formulario {
            max-width: 100% !important;
            margin: 0 1.5rem ;
            padding: 1.2rem;

            form {
                font-size: 1rem;
                gap: 1.2rem;
    
                h2 {
                    font-size: 1.8rem;
                    margin-bottom: 0.5rem;
                }

                div { 
                    input, select, textarea {
                        font-size: 0.9rem;
                    }
            
                    textarea {
                        height: 100px; 
                    }
                }

                button {
                    width: 100%;
                }
            }
        }
    }
}

// Tablet
@media (min-width: $bp-mobile-end) and (max-width: $bp-tablet) {
    .contacto{
        .formulario { 
            max-width: 100% !important;
            margin: 0 4rem ;
            padding: 3rem;
            form{
                font-size: 1rem;
                h2 {
                    font-size: 2.4rem;
                }
    
                button {
                    width: 100%;
                }
            }
        }
    }
}
  

// FOOTER
// Móvil
@media (max-width: $bp-mobile) {
    footer {
        padding: 2rem 1.5rem;
        .footer-container {
            .footer-title { 
                margin-bottom: 1rem; 
            }
    
            .footer-columns {
                display: flex;
                flex-wrap: wrap;
                gap: 1.5rem;
                .footer-column {
                    &.festival, &.ayuda {
                        width: calc(50% - 0.75rem);
                        order: 1;
                    }
        
                    &.redes {
                        width: 100%;
                        order: 2;
                        margin-top: .5rem;
                    }
        
                    &.newsletter {
                        width: 100%;
                        order: 3;
                        margin-top: .8rem;
                        form {
                            .suscribirme {
                                display: flex;
                                flex-direction: column;
                            }
                        }
                    }
                }
            }
          
            .footer-bottom {
                flex-direction: row;
                gap: 1rem;
    
                a { 
                    font-size: 0.7rem;
                }
            }
        }
    }
}

// Tablet
@media (min-width: $bp-mobile-end) and (max-width: $bp-tablet) {
    footer {
        padding: 2rem 4rem;
        .footer-container {
            .footer-columns {
                display: flex;
                flex-wrap: wrap;
                gap: 1.5rem;
                justify-content: space-between;
    
                .footer-column {
                    width: 48%;
    
                    &.festival {
                        order: 1;
                    }
    
                    &.ayuda {
                        order: 2;
                    }
    
                    &.redes {
                        order: 3;
                    }
    
                    &.newsletter {
                        order: 4;
                    }
                }
            }
        }
    }
}