//Variables y estilos generales
@use "variables" as *;
@use "base" as *;

// BREAKPOINTS MQ
$bp-mobile: 767px ;
$bp-tablet: 1024px ;
$bp-mobile-end: $bp-mobile + 1px ;
$bp-tablet-end: $bp-tablet + 1px ;

//TÍTULOS Y PÁRRAFOS
@media (max-width: $bp-mobile) {
    h1 { font-size: 3rem; }
    h2 { font-size: 2.2rem; }
    h3 { font-size: 2rem; }
    h4 { font-size: 1.5rem; }
    h5 { font-size: 1.2rem; }
    h6 { font-size: 1.1rem; }

    p  { font-size: 1rem; }
}

// HEADER
//Móvil
@media (max-width: $bp-mobile) {
    header {
        .navbar {
            .header-container {
                padding-left: 1.5rem;
                padding-right: 1.5rem;
            }
        }
    }
}

//Tablet
@media (min-width: $bp-mobile-end) and (max-width: $bp-tablet) {
    header {
        .navbar {
            .header-container {
                flex-direction: row;
                padding-left: 4rem;
                padding-right: 4rem;
    
                .navbar-brand {
                    font-size: 2rem;
                }
            
                .navbar-toggler {
                    font-size: 1.8rem;
                }
    
                .navbar-collapse {
                    .navbar-nav {
                        .nav-link {
                            font-size: 1.3rem;
                        }
                    }
                }
            }
        }

    }
}

// SECCIONES
// Móvil
@media (max-width: $bp-mobile) {
    section {
        margin: 2.5rem 1.5rem;
    }
}

// Tablet
@media (min-width: $bp-mobile-end) and (max-width: $bp-tablet) {
    section {
        margin: 4rem 4rem;
    }
}

// INDEX
//Móvil
@media (max-width: $bp-mobile) {
    .index {
        .destacado {
            height: 70vh;
            padding: 2rem;
    
            h1 { 
                font-size: 4rem; 
            }
    
            button {
                font-size: 1rem;
                width: 80%;
                max-width: 300px;
                margin-top: 1rem;
            }
        }
            
        .fechas {
            .fechas-container {
                flex-direction: column;
                gap: 2rem;
                margin: 0;
    
                .fecha {
                    width: 100%;
                    padding: 1.5rem;
                        
                    h3 { 
                        font-size: 2rem; 
                    }
        
                    h4 { 
                        font-size: 4rem; 
                    }
        
                    button { 
                        width: 100%; font-size: 1rem; 
                    }
                }
            }
        }
    
        .galeria {
            .galeria-grid {
                grid-template-columns: repeat(2,1fr);
                grid-template-rows: repeat(4,200px);
                gap: 0.8rem;
    
                .foto1 { 
                    grid-column: 1/3; 
                    grid-row: 1; 
                }
    
                .foto2 { 
                    grid-column: 1;
                    grid-row: 2;
                }
    
                .foto3 { 
                    grid-column: 2;
                    grid-row: 2;
                }
    
                .foto4 { 
                    grid-column: 1;
                    grid-row: 3;
                }
    
                .foto6 { 
                    grid-column: 2;
                    grid-row: 3;
                }
    
                .foto5 { 
                    grid-column: 1/3;
                    grid-row: 4;
                }
            }
    
            .ver-mas {
                display: block;
                font-size: 1rem;
            }
        }

    }
}

@media (min-width: $bp-mobile-end) and (max-width: $bp-tablet) {
    .index {
        .fechas {
            .fechas-container { 
                gap: 1rem; 
                margin: 0; 
            }
    
            button { 
                width: 100%; 
            }
        }
    }
}


// PROGRAMACIÓN
//Móvil
@media (max-width: $bp-mobile) {
    .programacion {
        .programacion-dia-container {
            padding: 2.5rem 1.5rem;
            #carrusel-sabado, #carrusel-domingo { 
                display: block;
                .carousel-inner {
                    .carousel-item {
                        .escenario {
                            background-color: $color-tarjetas;
                            color: $color-blanco;
                            padding: 1.2rem;
                            border-radius: 16px;
                            padding-bottom: 0.1rem;
                    
                            h4 {
                                margin-bottom: 8px;
                            }
                    
                            ul {
                                list-style: none;
                                padding: 0;
                    
                                li {
                                    margin:0 ;
                                    font-weight: bold;
                                    padding: 0.4rem 0.5rem;
                                    display: flex;
                                    flex-direction: column;
                                    background-color: rgb(202, 219, 252);
                                    color: $color-negro;
                                    border-radius: 10px;
                                    margin-bottom: 8px;
                        
                                    &:nth-child(odd) {
                                        background-color:rgb(249, 240, 255) ;
                                        border-radius: 8px;
                                        color: $color-negro;
                                        padding: 0.4rem 0.5rem;
                                    }
    
                                    p {
                                        font-size: 1.1rem;
                                        margin: 0 ;
                                    }
    
                                    .hora {
                                        font-size: 0.8rem;
                                        margin-bottom: 0.2rem;
                                    }
                                }
                            }
                        }
                    }
                }
            }
            
            .escenario-container {
                display: none ;
            }
        }
    }
}

// Tablet
@media (min-width: $bp-mobile-end) and (max-width: $bp-tablet) {
    .programacion {
        #carrusel-sabado, #carrusel-domingo { 
            display: none; 
        }

        .programacion-dia-container {
            padding: 4rem 4rem ;

            .escenario-container {
                display: grid;
                grid-template-columns: 1fr 1fr;
                grid-template-rows: auto auto;
                gap: 1rem;

                .principal { 
                    grid-column: 1 / 3; 
                    li {
                        display: flex;
                        flex-direction: row;
                        gap: 0.1rem;
                        align-items: baseline;
        
                        .hora {
                            font-size: 1.1rem;
                            margin-bottom: 0.2rem;
                        }
                    }
                }

                .secundario {
                    ul {
                        list-style: none;
                        padding: 0;
                
                        li {
                            p {
                                font-size: 1.1rem;
                            }
                        }
                    }
                }
            }
        }
    }
}

// ARTISTAS
// Móvil
@media (max-width: $bp-mobile) {
    .artistas-dia-container {
        padding: 2.5rem 1.5rem;
        flex-direction: column;
        .artistas-destacados{
            .artista {
                flex: 1 1 100% !important;
                p {
                    font-size: 0.9rem;
                }
            }
        }

        .artistas-grid {
            display: none !important;
        }
    
        .carousel-inner {
            .carousel-item {
                .artista-mini {
                  display: flex !important;
                  align-items: flex-start !important;
                  gap: 1rem !important;

                    img {
                        width: 100%;
                        max-width: 70px;
                        max-height: 70px;
                        aspect-ratio: 1 / 1;
                        object-fit: cover;
                        border-radius: 6px;
                        margin-bottom: 0.5rem;
                    }

                    .redes {
                        img {
                            width: 32px;
                            height: 32px;
                        }
                    }
                }
            }
        }
    }
}

//Tablet
@media (min-width: $bp-mobile-end) and (max-width: $bp-tablet) {
    .artistas-dia-container {
        padding: 3rem 4rem;
        .artistas-destacados {
            display: grid;
            gap: 1rem;
            grid-template-columns: repeat(2, 1fr);

            .artista:nth-child(1) {
                grid-column: 1 / -1;
            }
        }

        .artistas-grid{
            grid-template-columns: repeat(2, 1fr);
        }
    }
}

// ENTRADAS
@media (max-width: $bp-mobile) {
    .entradas {
        .entradas-container { 
            flex-direction: column; 
            gap: 2rem; 
        }
    
        .preguntas-frecuentes {
            .accordion-header button { 
                font-size: 1.5rem; 
                padding: 24px 16px; 
            }
                
            .accordion-body { 
                font-size: 0.9rem; 
                padding: 16px; 
            }
        }
    }
}



// CONTACTO
// Móvil
@media (max-width: $bp-mobile) {
    .contacto {
        margin-bottom: 3rem;

        .formulario {
            padding: 24px 16px;

            form {
                font-size: 1rem;
                gap: 1.2rem;
    
                h2 { 
                    margin-bottom: 0.5rem; 
                }

                textarea { 
                    height: 100px; 
                }

                button {
                    width: 100%;
                }
            }
        }
    }
}

// Tablet
@media (min-width: $bp-mobile-end) and (max-width: $bp-tablet) {
    .formulario { 
        padding: 48px;
        form{
            button {
                width: 100%;
            }
        }
    }
}
  

// FOOTER
// Móvil
@media (max-width: $bp-mobile) {
    footer {
        padding: 2rem 1.5rem;
        .footer-container {
            .footer-title { 
                margin-bottom: 1rem; 
            }
    
            .footer-columns {
                display: flex;
                flex-wrap: wrap;
                gap: 1.5rem;
                .footer-column {
                    &.festival, &.ayuda {
                        width: calc(50% - 0.75rem);
                        order: 1;
                    }
        
                    &.redes {
                        width: 100%;
                        order: 2;
                        margin-top: .5rem;
                    }
        
                    &.newsletter {
                        width: 100%;
                        order: 3;
                        margin-top: .8rem;
                        form {
                            .suscribirme {
                                display: flex;
                                flex-direction: column;
                            }
                        }
                    }
                }
            }
          
            .footer-bottom {
                flex-direction: row;
                gap: 1rem;
    
                a { 
                    font-size: 0.7rem;
                }
            }
        }
    }
}

// Tablet
@media (min-width: $bp-mobile-end) and (max-width: $bp-tablet) {
    footer {
        padding: 2rem 4rem;
        .footer-container {
            .footer-columns {
                display: flex;
                flex-wrap: wrap;
                gap: 1.5rem;
                justify-content: space-between;
    
                .footer-column {
                    width: 48%;
    
                    &.festival {
                        order: 1;
                    }
    
                    &.ayuda {
                        order: 2;
                    }
    
                    &.redes {
                        order: 3;
                    }
    
                    &.newsletter {
                        order: 4;
                    }
                }
            }
        }
    }
}