// Variables, estilos y animaciones
@use "variables" as *;
@use "base" as *;
@use "animaciones" as *;
@use "sass:color";

//PROGRAMACIÓN
.programacion {
    @include fade-in-up();
    .banner {
        img {
            width: 100%;
            height: 55vh;
            object-fit: cover;
            border-radius: 8px;
        }
    }
    
    #carrusel-sabado, #carrusel-domingo {
        display: none;
    }
    
    .programacion-dia-container {
        margin: 0;
        padding:  4rem 10rem ;
        
        &.domingo {
            background-color: $color-fondo-violeta ;
        }
            
        &.sabado {
            background-color:lavender;
        }
        
        .escenario-container {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            gap: 1.5rem;
                
            .escenario {
                @include cards($gradiente-principal, 1rem, 10px);
                color: $color-blanco;
                padding-bottom: 0.4rem;
                transition: transform 0.3s ease, box-shadow 0.3s ease;

                &:hover, &:focus-within {
                    transform: translateY(-5px);
                    outline-offset: 4px;
                    box-shadow: 0 6px 16px rgba(0,0,0,0.2), 0 0 15px color.adjust(#5e5e5e, $lightness: 20%);
                }
            
                h3 {
                    margin-bottom: 24px;
                    text-shadow: $color-negro 2px 2px;
                    font-weight: normal;
                }
            
                ul {
                    list-style: none;
                    padding: 0;
            
                    li {
                        margin:0 ;
                        font-weight: bold;
                        padding: 0.6rem 0.8rem;
                        display: flex;
                        flex-direction: column;
                        background-color: rgb(252, 227, 193);
                        color: $color-negro;
                        border-radius: 6px;
                        margin-bottom: 8px;
                
                        &:nth-child(odd) {
                            background-color:rgb(249, 240, 255) ;
                            border-radius: 6px;
                            padding: 0.6rem 0.8rem;
                        }
            
                        p {
                            font-size: 1.3rem;
                            margin: 0 ;
                        }
            
                        .hora {
                            font-size: 0.9rem;
                            margin-bottom: 0.2rem;
                        }
                    }
                }  
            }
        }
    }
}