//Variables y estilos generales
@use "partials/variables" as *;
@use "partials/base" as *;

//PROGRAMACIÓN
/* Programación */
.banner img {
    width: 100%;
    height: 55vh;
    object-fit: cover;
    border-radius: 8px;
}

#carrusel-sabado, #carrusel-domingo {
  display: none;
}

.escenario-container {
    gap: 1rem;
    .escenario {
        background-color: $color-tarjetas;
        color: $color-blanco;
        padding: 1rem;
        border-radius: 8px;

        h4 {
            margin-bottom: 24px;
        }

        ul {
            list-style: none;
            padding: 0;
        }

        li {
            font-size: 1.1rem;
            margin-bottom: 12px;
            font-weight: bold;
            padding: 0.3rem 0.5rem;

            &:nth-child(even) {
                background-color: $color-fondo-violeta;
                border-radius: 4px;
                color: $color-negro;
            }
        }
    }
}

//Programación en móvil
.escenario-container {
    display: none;
}

#carrusel-sabado, #carrusel-domingo {
    display: block;
}