@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Inter:wght@300;400;700&display=swap');

// VARIABLES
// Tipografías
$tipografia-principal: 'Inter', sans-serif;
$tipografia-titulos:  'Bebas Neue', sans-serif;

// Colores
$color-principal: #5C0B5A;
$color-secundario: #FFC107;
$color-acento: #cb1350; 
$color-fondo: #f3f4f8;
$color-negro: #000000;
$color-blanco: #ffffff;
$color-fondo-violeta: rgb(203, 199, 238);
$color-bordes: #cccccc;
$gradiente-principal: linear-gradient(145deg, $color-principal, $color-acento);

// Sombras
$sombra-hover: 0 0 10px rgba(0, 0, 0, 0.3);
$sombra-baja:  0 4px 12px rgba(0, 0, 0, 0.15);
$sombra-media: 0 6px 16px rgba(0, 0, 0, 0.18);
$sombra-alta:  0 8px 20px rgba(0, 0, 0, 0.25);