// Importación de tipografías
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Inter:wght@300;400;700&display=swap');

//Variables
//tipografias
$tipografia-principal: 'Inter', sans-serif;
$tipografia-titulos: 'Bebas Neue', sans-serif;

//colores
$color-principal: #640D5F;
$color-secundario: #ffb300;
$color-fondo: #f3f4f8;
$color-negro: #000000;
$color-blanco: #ffffff;
$color-rosa: rgb(217, 15, 123);
$color-fondo-violeta: rgb(222, 218, 255);
$color-tarjetas: darkslateblue;
$color-bordes: #cccccc;

//sombra
$sombra-hover: 0 0 10px rgba(0, 0, 0, 0.3);
$sombra-baja: 0 4px 12px rgba(0, 0, 0, 0.15);
$sombra-alta: 0 8px 20px rgba(0, 0, 0, 0.25);


//Estilos base
// Reset CSS
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
    font-family: $tipografia-titulos;
}
  
h1 { font-size: 4rem; }
h2 { font-size: 3rem; }
h3 { font-size: 2.5rem; }
h4 { font-size: 2rem; }
h5 { font-size: 1.5rem; }
h6 { font-size: 1.2rem; }
p { font-size: 1.1rem; }

body {
    font-family: $tipografia-parrafos;
    color: $color-negro;
    background-color: $color-fondo;
    text-align: start;
}

section {
    text-align: start;
    margin: 6rem 10rem;

    h2 {
        margin-bottom: 1.5rem;
    }
}

.fondo-contenedor {
    background-color: $color-fondo-violeta;
    width: 100%;
    box-sizing: border-box;
    padding: 1.5rem 0;
}