@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Inter:wght@300;400;700&display=swap');

// VARIABLES
// Tipografías
$tipografia-principal: 'Inter', sans-serif;
$tipografia-titulos:  'Bebas Neue', sans-serif;

// Colores
$color-principal: #640D5F;
$color-secundario: #ffb300;
$color-fondo: #f3f4f8;
$color-negro: #000000;
$color-blanco: #ffffff;
$color-rosa: rgb(217, 15, 123);
$color-fondo-violeta: rgb(203, 199, 238);
$color-tarjetas: linear-gradient(to top, $color-principal, #ffc234);
$color-bordes: #cccccc;

// Sombras
$sombra-hover: 0 0 10px rgba(0, 0, 0, 0.3);
$sombra-baja:  0 4px 12px rgba(0, 0, 0, 0.15);
$sombra-alta:  0 8px 20px rgba(0, 0, 0, 0.25);
